@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.app{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: "Roboto";
}

.app_display{
    width: 500px;
    height: 900px;
    border-radius: 50px;
    background-color: #212429e5;
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.display_header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    color: white;
}

.display_header_name{
    align-self: center;
}

.display_header_other{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.display_main{
    width: 100%;
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    border-top: 3px solid red;
    box-shadow: 0px -25px 100px  red;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body{
    margin: 0;
}


.greating{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: greating 6s 1;
}

/*upper navigation*/

.display_nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
}

.display_nav div{
    text-align: center;
    align-content: center;
    width: 117px;
    height: 50px;
    background-color: #32363C;
    border-radius: 10px;
    color: white;
}

.display_wallet img{
    width: 60px;
}

.display_wallet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#wallet_coin{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.display_progress{
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level_bar{
    width: 368px;
    height: 9px;
    border-radius: 30px;
    border: 1px solid gray;
    overflow: hidden;
}

.level_progress{
    height: 100%;
    width: 0%;
    transition: all .3s ease;
    background: linear-gradient(120deg, #ADFAA1, #C597CC,#2F39A3);
}

.display_tap{
    margin: 0 auto;
    width: 247px;
    height: 247px;
    border-radius: 50%;
    border: 10px solid #5d2685;
    background: radial-gradient(#b362cc, #4f10c4, #5d268a);
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.display_tap img{
    width: 90%;
    height: 90%;
}

.display_energy{
    font-size: 11px;
    color: white;
    margin: 0 auto;
}

.display_energy img{
    width: 10px;
}

.display_footer{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: white;
    font-size: 11px;
    align-items: center;
    background: #32363C;
    border-radius: 10px;
    padding-top: 10px;
    
}

.display_footer div{
    height: 50px;
}


/*Modifiers*/


.tap_mode{
    transform: skew(1.5deg);
}


.money{
    width: 50px;
    animation: moneyTap 1s 1;
    position: absolute;
}

.display_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}


/*mine page*/

.mine_content{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-evenly;
}

.mine_nav{
    width: 70%;
    height: 36px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    border-radius: 15px;
    background-color: #32363C;
    color: #fff;
    display: flex;
    align-items: center;
}

.mine_card{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 110px;
    border-radius: 15px;
    background-color: #32363C;
    color: white;
}

.card_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8px;
    border-bottom: 1px solid gray;
    height: 60%;
}

.card_top img{
    width: 15px;
}

.card_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 9px;
    height: 100%;
}

.card_bottom img{
    width: 25px;
}

.mine_cards{
    width: 400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.buy_block{
    width: 100%;
    height: 50%;
    background-color: #292525;
    display: flex;
    z-index: 500;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    border-radius: 35px;
    color: #fff;
    font-size: 20px;
    animation: buyBlock 3s 1;
}

.buy_btn{
    width: 50%;
    height: 40px;
    background-color: #5d268a;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
}

.buy_block img{
    width: 30px;
    height: 30px;
}

.buy_block_disappear{
    position: fixed;
    bottom: -100%;
    animation: buyBlockDisappear 3s 1;
}


@keyframes greating{
  
    0%{
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes moneyTap{
    0%{transform: translateY(0px); opacity: 1;}
    100%{transform: translateY(-30px); opacity: 0;}
}

@keyframes buyBlock{
    0%{bottom: -100%;}
    100%{bottom: 0;}
}

@keyframes buyBlockDisappear{
    0%{bottom: 0;}
    100%{bottom: -100%;}
}

@media (max-width: 1024px){
    .app_display{
        width: 80vw;
        height: 90vh;
    }   

    .display_header_other div{
        font-size: 30px;
    }

    .display_header_other img{
        width: 30px;
        height: 30px;
    }

    .display_header_name{
        font-size: 30px;
    }

    .display_nav div{
        width: 150px;
        height: 70px;
        font-size: 18px;
    }

    .display_tap{
        width: 350px;
        height: 350px;
    }

    .money{
        width: 50px;
    }

    .display_wallet span{
        font-size: 60px;
    }

    .display_wallet img{
        width: 60px;
    }

    .display_progress{
        font-size: 25px;
    }

    .level_bar{
        height: 15px;
        width: 60%;
    }

    .display_energy{
        font-size: 25px;
    }

    .display_energy img{
        width: 22px;
    }

    .display_footer div{
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    .display_footer img{
        width: 32px;
    }
}

@media (max-width: 480px){
    .app_display{
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .display_header_other div{
        font-size: 15px;
    }

    .display_header_other img{
        width: 18px;
        height: 18px;
    }

    .display_header_name{
        font-size: 20px;
    }

    .display_progress{
        font-size: 15px;
    }

    .level_bar{
        width: 300px;
        height: 10px;
    }

    .display_nav div{
        width: 96px;
        font-size: 12px;
    }

    .display_tap{
        width: 200px;
        height: 200px;
    }

    .money{
        width: 40px;
    }

    .display_wallet span{
        font-size: 15px;
    }

    .display_wallet img{
        width: 40px;
    }

    .display_energy{
        font-size: 12px;
    }

    .display_energy img{
        width: 10px;
    }

    .display_footer div{
        width: 50px;
        height: 50px;
        font-size: 12px;
    }

    .display_footer img{
        width: 20px;
    }

    
}